#navv{
  background-color: rgba(255, 0, 0, 0);
}

body {
  background-image: linear-gradient(to bottom right, #00f490, #00bbc9);
}
.jumbotron {
  background-color: #09804e00;
}
h1{
  font-family: "Abril Fatface", cursive;
  color: white;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.151);
}
.lead{
  color:white;
  font-size: 2.2rem;
}

.btn-lg{
  background-color: rgba(255, 235, 205, 0);
  border-color: white;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  padding: 10px 20px ; 
  margin-top: 15px
}

.btn-lg:hover{
  background-color: rgba(255, 255, 255, 0.336);
  border: aqua;
}

.btn-primary{
  background-color: yellowgreen;
}

.btn-primary:hover{
  background-color: rgb(167, 250, 0);
}